<header class="netflix-header">
  <img
    src="https://images.ctfassets.net/y2ske730sjqp/1aONibCke6niZhgPxuiilC/2c401b05a07288746ddf3bd3943fbc76/BrandAssets_Logos_01-Wordmark.jpg?w=940"
    width="110"
    alt=""
  />
  <div class="top">
    <ul class="categories">
      <li><a href="#top-rated">Top Rated</a></li>
      <li><a href="#popular">Popular</a></li>
      <li><a href="#upcoming">Upcoming</a></li>
    </ul>

      <button (click)="logout()"  class="logout-btn" >Log Out</button>
    
  </div>
</header>
