.netflix-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #010101;
    color: #fff;
  }
  
  .netflix-header img {
    width: 110px;
    height: auto;
    margin-top:10px;
    margin-right:20px
  }
  
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1

  }
  
  .categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .categories li a {
    margin-right: 20px;
    cursor: pointer;
    color:white;
    text-decoration: none;

  }

  
  .logout-btn  {
    margin-left: auto;
    color: rgb(225, 222, 222);
    text-decoration: none;
    padding: 7px 25px;
    border-radius: 5px;
    font-weight: bold;
   
  }
  
  .logout-btn:hover {
    background-color: rgb(189, 158, 158);
    color:red;
    transform: scale(0.97);
    transition: all 0.2s ease-in-out;
  }
  
  @media (max-width:600px){
    .logout-btn{
      font-size: 10px;
    }
    .netflix-header  img{
      width:50px
  }
  }