.netflix-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #010101;
    color: #fff;
  }
  
  .netflix-header img {
    width: 110px;
    height: auto;
    margin-top:10px;
    margin-right:20px
  }
  
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1

  }
  
  .categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .categories li a {
    margin-right: 20px;
    cursor: pointer;
    color:white;
    text-decoration: none;

  }

  
  .logout-btn  {
    margin-left: auto;
    color: black;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
   
  }
  
  .logout-btn:hover {
    background-color: rgb(146, 146, 146);
    transform: scale(0.97);
    transition: all 0.2s ease-in-out;
  }
  