<div class="background-overlay"></div>
    <div class="login-container">
      <div class="login">
        <header><h1>Sign In</h1></header>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div>
            <input type="text" formControlName="email" placeholder="Email" />
          </div>
          <div>
            <input
              type="password"
              formControlName="password"
              placeholder="Password"
            />
          </div>
          <button class="btn btn-danger" [disabled]="!loginForm.valid" type="submit">Login</button>
        </form>
        <footer>
          <p>New to Netflix? <a  (click)="openRegisterModal()">Sign up now</a></p>
        </footer>
      </div>
    </div>

  
