<iframe class="w-screen" [src]="videoUrl" frameborder="0"></iframe>

<div class="h-screen">
    <div>
        <h1>Action</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed assumenda veniam quisquam tenetur. Nostrum veritatis ad eos! Ut maiores, perspiciatis saepe accusantium, quidem, neque dignissimos nobis illum maxime quam perferendis?</p>
    </div>
    <div>
        <button class="btn btn-light">Play</button>
        <button class="btn btn-secondary">More Info</button>
    </div>
</div>